# Node.js 프로젝트에서 불필요한 파일 제외
node_modules/
npm-debug.log
yarn-error.log

# 빌드 결과물 제외
build/
dist/
out/

# Git 관련 파일 제외
.git/
.gitignore

# 운영체제 관련 파일 제외
.DS_Store

# 환경 설정 파일 제외
.env
.env.*
.env.development

# 임시 파일 제외
*.log