{
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^@storybook(.*)$",
    "^react(.*)$",
    "^next(.*)$",
    "<THIRD_PARTY_MODULES>",
    "fonts$",
    "^@assets",
    "^@types",
    "^@components",
    "^[./]",
    "(.css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
