{
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^@storybook(.*)$",
    "^vitest",
    "^react(.*)$",
    "^next(.*)$",
    "<THIRD_PARTY_MODULES>",
    "fonts$",
    "^assets",
    "^data",
    "^types",
    "^layouts",
    "^features",
    "^components",
    "^[./]",
    "(.css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
